*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;

    font-family: Arial, Helvetica, sans-serif;
}
/* regular/light mode */

:root{
    --font-para: 16px
}

/* text shadow */
:root{
    --text-shadow:#888;
}
/* background colors */
:root{
    --primary-bg: #fff;
    --secondary-bg: #000;

    --primary-column-bg:#333;
    --secondary-column-bg:rgba(114, 162, 114, 0.692);
    --navigation-bg:#333;

    --lightage-bg: url('./media/lightage.jpg');

    --reserve-join:rgba(0, 243, 0, 0.421);
    --reserve-leave:rgba(255, 0, 0, 0.494);
}

/* colors */
:root{
    --primary-color: #000;
    --secondary-color: #fff;
    --tertiary-color:blue;

    
    --logo-primary-color: var(--secondary-color);
    --logo-secondary-color: var(--priamry-color);

    --alert-color:#f00;
    --notice-color:rgb(149, 65, 17);

}

/* borders */

:root {
    --border-abstract: #f00;
    --border-abstract-secondary: orange;
    --border-primary: #000;
    --border-secondary: #333;
}

/* dark mode */

@media (prefers-color-scheme: dark) {

    /* text shadow */
    :root{
        --text-shadow:#515151;
    }
   /* background colors */
    :root{
    --primary-bg: #000;
    --secondary-bg: #fff;
    --tertiary-color:var(--notice-color);

    --primary-column-bg:rgba(114, 162, 114, 0.692);;
    --secondary-column-bg:#333;
    --navigation-bg:var(--secondary-bg);

    --lightage-bg: url('./media/darkage.jpg');
    }

    /* borders */

    :root {
        --border-abstract: rgb(247, 0, 255);
        --border-abstract-secondary: rgb(0, 204, 255);
        --border-primary: #000;
        --border-secondary: #000;
    }

    /* colors */
    :root{
        --primary-color: #fff;
        --secondary-color: #000;

        --logo-primary-color: var(--secondary-color);
        --logo-secondary-color: var(--priamry-color);


        --notice-color:yellow;
    }
}



/* body */
body {
    width:100%;
    height:100%;

    transition: .5s;

    background-color: var(--primary-bg);
    
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-image: var(--lightage-bg);
    
    overflow-x: hidden;
}

#wrapper{
    width:100%;
    height:100%;

    padding: 0 1.25rem;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    gap:1.25rem;
}

/* header */
.blank-section {
    
    height:76px;
    
    width:100%;

    background-color: transparent;

    /* border:.5px solid var(--border-abstract); */
}

#wrapper {

}
header {
    width:100%;
    /* min-height:55px; */

    /* border:.5px solid var(--border-abstract); */

    position:fixed;
    top:0;
    left:0;

    background-color: var(--navigation-bg);

    z-index:999;
}
/* logo */
#logo-container {
    height:100%;
    width:200px;

    /* border:5px solid var(--border-abstract); */

    float:right;

    margin:.25rem .5rem 0;

    display:flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;

}
#logo-container > h1 {
    font-family: cursive;
    font-size:21pt;
    color: var(--logo-primary-color);
}

#logo-container > em {
    color:var(--logo-primary-color);
}

nav#nav{
    width:50%;
    min-height:34px;
    height:100%;
    
    /* border:5px solid var(--border-abstract-secondary); */

}
/* ul nav listcontainer */
#nav-list-container{
    width:100%;
    display:flex;
    /* border:2px solid var(--border-abstract); */
    align-items: center;
    justify-content: end;

    padding:.5rem 0;

    margin: .25rem 0;
}

/* ul nav listcontainer mobile */
#nav-list-container-mobile {
        background:var(--primary-bg);
        
        display:none;

        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        gap:1.25rem;

        padding:.5rem 0;

        transform:translate(0,50px);
        
        transition: .25s;


        overflow:hidden;

        position:fixed;
        right:0;
        top:125px;

        opacity:0;

        /* border: .5px solid var(--border-abstract); */
    }


.nav-list-mobile > li > .nav-list-link{
    width:300px;
    /* border-bottom:1.5px solid red; */
    border-radius:4px;
}

/* li tag */
.nav-list-item {
    border-left:1px solid #000;
    /* border:2px solid var(--border-abstract) */

}
.nav-list-mobile > li > .nav-list-link{
    color: var(--primary-color);
}
.nav-list > li > .nav-list-link{
    color: var(--secondary-color);
}

/* a tag */
.nav-list-link {
    text-decoration:none;

    width:100%;
    height:100%;
    
    /* display:flex;
    align-items: center;
    justify-content: center; */

    /* background: var(--secondary-bg); */
    background: transparent;

    font-size:14pt;
    padding:.5rem 2rem;

}

.nav-list > li > .nav-list-link:hover {
    background:var(--primary-bg);
    color:var(--primary-color);
}


#nav-toggle-container {

    min-height:50px;
    width:100px;

    float:right;

    padding:.5rem;

    /* border:.5px solid var(--border-abstract); */

    position:relative;

    margin:1rem .5rem;

    display:none;
    visibility: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#nav-toggle-container:hover{
    cursor:pointer;
}

.nav-toggle-span {
    width:50%;
    height:8px;
    background-color:var(--primary-bg);
    border:.5px solid var(--secondary-bg);

    position:absolute;

    transition: .5s;

    transform: rotate(0deg) scale(.68)
}


.cross-nts1{
    transform:rotate(45deg) scale(1);
}
.cross-nts2{
    transform:rotate(-45deg) scale(1);
}


/* general */
/* ______________________________ */
.stale-body{
    filter:blur(1.25px) !important;
}
.lh-sm{
    line-height: 1rem;
}
.lh-double{
    line-height: 1.5rem;
}
.lh-max{
    line-height: 2.5rem;
}
/* no pointer events */
.no-pointer {
    pointer-events: none;
}
/* no display */
.no-display {
    display:none !important;
    visibility: none;
}

/* mobile nav open if enabled */
.mobile-nav-open{
    opacity:1 !important;
    transform:translate(0,0);
    transition: .5s !important;
}

.grayed-out {
    background:gray !important;
    opacity: .66;
}

.cta-schedule {
    color: var(--notice-color);

    letter-spacing:1px;

    font-weight:bold;

    background:var(--primary-bg);

    width:100%;

}

.auth{
    color:var(--notice-color);
}
/* ______________________________ */


/* section columns */
/* ______________________________ */
.section-column-label {
    letter-spacing:1.25px;

    text-shadow:1.5px 1.5px var(--text-shadow);
    text-align: center;

    color:var(--tertiary-color);

    font-size: 21pt;
    font-family: cursive, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    padding:.5rem 0;

    text-decoration:underline;
    text-underline-offset: 3.33px;
}
.section-column{
    border-bottom: 5.5px solid var(--primary-color);
    
    padding:.5rem;

    box-shadow: 0 .5rem 12px .9px var(--border-secondary);

    width:650px;

    margin:1rem auto;
}
/* ______________________________ */


/* about  */
/* ______________________________ */
.about-me-para {
    color:var(--primary-color);

    font-weight: bold;
    font-size: var(--font-para);

    text-align:center;

    background-color:transparent;
}
/* ______________________________ */
/*  */



/* schedule */
/* ______________________________ */

#scheduled-item-list-container{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;

    gap:.25rem;

    z-index: 998;
}
.remove-button:hover {
    cursor:pointer;
}
.remove-button {
    position:absolute;
    bottom:-4px;
    right:0;

    padding:8px ;

    background:var(--primary-bg);

    color: var(--alert-color);
}
.si-list-item:hover {
    cursor: pointer;
    transform:scale(.98);
}
.si-list-item {
    
    animation: rollingRow 7s infinite alternate forwards;

    box-shadow: inset -6px -.25rem 12px .9px #333;

    width: 97%;
    /* min-height:66px; */

    background:var(--secondary-bg);

    /* border:2px solid var(--border-abstract); */

    color:var(--secondary-color);

    display:flex;
    justify-content: start;
    align-items: center;
    gap:1px;

    padding: 0;

    position:Relative;

    border:2px solid #000;
    border-radius:12px;

    overflow:hidden;
}

@keyframes rollingRow {
    from {
        box-shadow: inset -6px -.5rem 12px .9px #333;
    }
    to {
        box-shadow: inset 6px .5rem 12px .9px #333;
    }
}
.bg-yellow{
    background:yellow !important;
}
.bg-green{
    background:green !important;
}
.bg-red{
    background:red !important;
}

#date-container, #type-container, #distance-container, #distance-container, .reserve-btn {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background:var(--primary-bg);

    width:55px;
    height:55px;

    padding:.25rem;

}
#date-container > p,
#date-container > h4,
#distance-container > p,
#distance-container > h4,
#time-container > p,
#type-container > h4,
.reserve-btn
{
    color:var(--primary-color);
}
.reserve-btn:hover{
    text-decoration:underline;
    text-underline-offset: 2px;
    text-decoration-color: var(--primary-color);
}
.reserve-btn{
    font-weight:bold;
    letter-spacing: 1px;
    font-size:9pt !important;
}
.join-btn{
    background: var(--reserve-join) !important;
}
.leave-btn{
    background: var(--reserve-leave) !important;
}
.si-list-item > p{
    font-size:11pt;
}
.si-list-item > h4{
    font-size:18pt;
}

#time-container > p {
    font-size:11pt;
}

#time-container {
    position:absolute;
    right:0;
    top:0;

    padding:.5rem;
    
    background:var(--primary-bg);

    border-radius:0 0 0 6px;

    border-left:2px solid var(--border-primary);
    border-bottom:2px solid var(--border-primary);

}

/* ______________________________ */

/* datetime */

#input-container{
    overflow: hidden;
    
    width:100%;

    border:2px solid #000;

    background:var(--primary-bg );
    padding:6px;

    display:flex;
    justify-content: start;
    align-items: center;
    gap:.5rem;

    flex-wrap:wrap;

    margin-top:.5rem;
}

#datetime-submit{
    background:var(--secondary-bg);
    padding:4px;
    border-radius: 6px;
    font-size:12pt; 

    color:var(--secondary-color)
}

#datetime-submit:hover {
    cursor:pointer;
}


/* legend */
#schedule-legend {
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap:4px;
}
#legend-title {
    margin-bottom:4px;
    text-decoration: underline;
    text-underline-offset: 2px;

    color:var(--primary-color);

}
#schedule-legend > div {
    display:inline-flex;
    flex-direction: row-reverse;
    gap:.5rem;
    /* border:2px solid var(--border-abstract); */
    width:unset;
}
.legend-label {
    font-weight: bold;
    font-size:9pt;

    color:var(--primary-color);
}
.legend-color{
    min-height:15px;
    min-width:15px;
    height:15px;
    width:15px;
    border-radius: 50%;
}
.lc-yellow {
    background-color:yellow;
}
.lc-green {
    background-color:green;

}
.lc-red {
    background-color:red;
}

/* modal */

section#modal-container {
    /* height:75%; */
    padding:.25rem;

    width:75%;

    background-color: var(--primary-bg);

    border:2px solid var(--border-secondary);

    position:fixed;
    left:50%;
    top:50%;

    transform:translate(-50%,-50%);

    z-index:999;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* exit modal */

#modal-exit:hover {
    cursor:pointer;
}
#modal-exit{
    position:fixed;
    top:10px;
    right:10px;

    font-size:21pt;

    color:#f00;

    /* z-index: 999; */
}

/* modal template  */
#calendar-modal-template{
    height:100%;
    width:100%;
    padding:4px;
    
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    gap:3px;

    background:var(--secondary-bg)
}
.calendar-div {
    width:100%;
    border-bottom:2px solid var(--border-secondary);
}


.cal-label {
    font-size:18pt;
    
    margin-bottom:1.5rem;

    color:var(--alert-color);

}

.cal-answer { 
    color:var(--secondary-color);
    font-size:12pt;
}